@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "BuiltTitling";
  src: url("../fonts/built titling rg.ttf");
}

.page-0-1-section-1 {
  position: relative;
}

.page-0-1-section-1 .absolute-image {
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 33%;
  height: auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media only screen and (max-width: 768px) {
  .page-0-1-section-1 .absolute-image {
    left: 12.5%;
    width: 75%;
  }
}

.koel-page-1-1-section-1 .title {
  font-family: "BuiltTitling";
  font-weight: bold;
  letter-spacing: 3px;
}

.koel-page-1-1-section-1 .grid-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-1 .grid-part {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-1-1-section-1 .grid-part .left-part {
  grid-column: span 1 / span 1;
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .left-part .inner-container {
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .right-part {
  grid-column: span 3 / span 3;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-1 .grid-part .right-part {
    grid-column: span 1 / span 1;
  }
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container {
  aspect-ratio: 16 / 9;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-1 .grid-part .right-part .inner-container {
    aspect-ratio: auto;
  }
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row {
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row .first-text {
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row .first-text p {
  text-align: left;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: "BuiltTitling";
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row .second-text p {
  font-family: "JosefinSans";
  text-align: left;
  font-weight: 600;
}

.koel-page-1-1-section-2 .section-title {
  font-family: "JosefinSans";
  font-weight: 600;
}

.koel-page-1-1-section-2 .section-subtitle {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
}

.koel-page-1-1-section-2 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-2 .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.koel-page-1-1-section-2 .grid-container .grid-item {
  width: 100%;
}

.koel-page-1-1-section-2 .grid-container .grid-item .image {
  width: 100%;
  aspect-ratio: 3/4;
}

.koel-page-1-1-section-2 .grid-container .grid-item .title {
  display: block;
  font-family: "JosefinSans";
  font-weight: 600;
  color: #000000;
  text-decoration: none !important;
}

.koel-page-1-1-section-2 .grid-container .grid-item .subtitle {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  font-size: 12px;
  text-decoration: none !important;
}

.koel-page-1-1-section-3 .item-container {
  width: 300px;
  aspect-ratio: 1/1;
}

.koel-page-1-1-section-3 .item-container h2 {
  text-decoration: none !important;
}

.koel-page-1-2-section-1 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-2-section-1 .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-1-2-section-1 .grid-container .grid-item {
  position: relative;
}

.koel-page-1-2-section-1 .grid-container .grid-item .image {
  width: 100%;
  aspect-ratio: 3/4;
}

.koel-page-1-2-section-1 .grid-container .grid-item .cta {
  color: darkgray;
}

.koel-page-1-2-section-1 .grid-container .grid-item .cta a {
  color: darkgray;
  text-decoration: none;
}

.koel-page-1-3-section-1 .preview-image-item-container img {
  width: 100px;
  height: auto;
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.koel-page-1-3-section-1 .tab-container .nav-link {
  font-family: "JosefinSans";
  font-weight: 600;
  padding: 8px 16px;
  color: darkgray;
  border-radius: 0;
}

.koel-page-1-3-section-1 .tab-container .nav-link.active {
  background-color: #000;
  color: #fff;
}

.koel-page-1-3-section-1 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-3-section-1 .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.koel-page-1-3-section-1 .grid-container .grid-item {
  position: relative;
}

.koel-page-1-3-section-1 .grid-container .grid-item img {
  aspect-ratio: 3/4;
}

.koel-page-2-1-section-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-2-1-section-1 .left-part {
  aspect-ratio: 3/4;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 .left-part {
    aspect-ratio: 1/1;
  }
}

.koel-page-2-1-section-1 .right-part {
  min-height: 100%;
  grid-column: span 3 / span 3;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 .right-part {
    min-height: unset;
    grid-column: span 1 / span 1;
  }
}

.koel-page-2-1-section-1 .right-part .row {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 .right-part .row {
    height: auto;
  }
}

.koel-page-2-1-section-1 .right-part .row a {
  letter-spacing: 3px;
  font-size: 28px;
}

.koel-page-2-1-section-2 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 24px;
      grid-template-areas: "first-item first-item second-item second-item" "first-item first-item third-item third-item" "fourth-item fifth-item sixth-item sixth-item" "fourth-item fifth-item sixth-item sixth-item";
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-2 .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "first-item first-item" "first-item first-item" "second-item second-item" "third-item third-item" "fourth-item fifth-item" "fourth-item fifth-item" "sixth-item sixth-item" "sixth-item sixth-item";
  }
}

.koel-page-2-1-section-2 .item {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.koel-page-2-1-section-2 .item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.koel-page-2-1-section-2 .item.first-item {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: first-item;
  aspect-ratio: 1 / 1;
}

.koel-page-2-1-section-2 .item.second-item {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: second-item;
}

.koel-page-2-1-section-2 .item.third-item {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: third-item;
}

.koel-page-2-1-section-2 .item.fourth-item {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: fourth-item;
}

.koel-page-2-1-section-2 .item.fifth-item {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: fifth-item;
}

.koel-page-2-1-section-2 .item.sixth-item {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sixth-item;
  aspect-ratio: 1 / 1;
}

.koel-page-2-1-section-3 .single-item {
  width: 300px;
  aspect-ratio: 1/1;
}

.koel-page-2-2-section-1 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-2-section-1 .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-2-2-section-1 .grid-container .grid-item {
  position: relative;
}

.koel-page-2-2-section-1 .grid-container .grid-item .sale-tag {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 16px;
  right: 16px;
  background-color: darkgray;
}

.koel-page-3-1-section-1 {
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
}

.koel-page-3-1-section-1 .item {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.koel-page-3-1-section-1 .item .photothumb {
  width: 100%;
}

.koel-page-3-1-section-1 .item .desc {
  padding: 10px 10px 5px 10px;
}

.koel-page-3-1-section-1 .item .desc p {
  margin-bottom: 10px;
}

.koel-page-3-1-section-1 .item .desc .category {
  font-size: 12px;
}

.koel-page-3-1-section-1 .item .desc .meta {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  font-size: 12px;
}

.koel-page-3-1-section-1 .item .desc .content {
  color: darkgray;
  font-size: 12px;
}

.koel-page-3-1-section-1 .item .desc .cta {
  font-size: 12px;
}

.koel-page-3-1-section-4 .vertical-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: right;
}

.koel-page-3-1-section-4 .absolute-label {
  position: absolute;
  top: 0;
  background-color: rgba(179, 200, 205, 0.5);
}

.koel-page-3-1-section-4 .absolute-label.left {
  right: 36px;
}

.koel-page-3-1-section-4 .absolute-label.right {
  left: 36px;
}

.koel-page-3-2-section-1 .input-search {
  border-color: darkgray;
}

.page-4-0-section-1 p {
  margin-bottom: 10px;
}

.page-4-0-section-1 .category {
  font-size: 12px;
}

.page-4-0-section-1 .meta {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  font-size: 12px;
}

.page-4-0-section-1 .content {
  color: darkgray;
  font-size: 12px;
}

.page-4-0-section-1 .cta {
  font-size: 12px;
}

.generic-content {
  position: relative;
}

.generic-content h4 {
  font-family: "JosefinSans";
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.generic-content a {
  font-weight: bolder;
  color: darkgray;
  text-decoration: none;
  margin-bottom: 0.75rem;
  font-family: "JosefinSans";
  display: block;
}

.generic-content h5 {
  margin-bottom: 0.75rem;
  font-family: "JosefinSans";
  font-weight: bold;
  font-size: 14px;
}

.generic-content h5 a {
  font-weight: bold;
  color: darkgray;
  text-decoration: underline;
  display: inline;
}

.generic-content p {
  margin-bottom: 0.75rem;
  font-family: "JosefinSans";
  font-size: 14px;
  color: darkgray;
  font-weight: bold;
}

.generic-content p a {
  font-weight: bold;
  color: darkgray;
  text-decoration: underline;
  display: inline;
}

.generic-content blockquote {
  border: 2px solid darkgray;
  border-left: 4px solid #000;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;
  display: block;
  padding: 3rem;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.75rem;
}

.generic-content blockquote::after {
  position: absolute;
  bottom: 8px;
  right: 24px;
  font-size: 32px;
  color: darkgray;
  content: '"';
}

.generic-content img {
  width: 100%;
  height: auto;
}

.font-nunito {
  font-family: "NunitoSans";
}

.font-josefin {
  font-family: "JosefinSans";
}

.font-built {
  font-family: "BuiltTitling";
  letter-spacing: 3px;
}

.koel-menu-text {
  font-family: "JosefinSans";
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.koel-menu-text:hover {
  color: #000000;
}

.koel-custom-blockquote {
  border: 2px solid darkgray;
  border-left: 4px solid #000;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;
}

.koel-custom-blockquote span {
  position: absolute;
  bottom: 8px;
  right: 24px;
  font-size: 32px;
  color: darkgray;
}

.koel-text-light {
  color: #f8f4f1;
}

.koel-bg-light {
  background-color: #f8f4f1;
}

.koel-text-light-brown {
  color: #efeae6;
}

.koel-bg-light-brown {
  background-color: #efeae6;
}

.koel-text-brown {
  color: #c5b5a5;
}

.koel-bg-brown {
  background-color: #c5b5a5;
}

.koel-text-gray {
  color: #ebebeb;
}

.koel-bg-gray {
  background-color: #ebebeb;
}

.koel-text-dark-gray {
  color: #b3c8cd;
}

.koel-bg-dark-gray {
  background-color: #b3c8cd;
}

.koel-custom-carousel-indicator button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 100%;
  border: none !important;
}

.whitespace {
  height: 130px;
  display: block;
}

@media only screen and (max-width: 768px) {
  .whitespace {
    height: 60px;
  }
}

.koel-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
  background-color: #fff;
}

.koel-main-header .header-inner {
  padding-top: 12px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 125px;
}

@media only screen and (max-width: 768px) {
  .koel-main-header .header-inner {
    height: 400px;
  }
}

.koel-main-header .header-inner .middle-part img {
  height: 75px;
  width: auto;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .koel-main-header .header-inner .middle-part img {
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .koel-main-header .header-inner .right-part {
    margin-top: 24px;
  }
}

.koel-main-header .header-inner .right-part .row {
  height: 100%;
}

.koel-main-header .header-inner .right-part .row .top-part {
  height: 50%;
}

.koel-main-header .header-inner .right-part .row .bottom-part {
  height: 50%;
}

.koel-main-header.scrolled .header-inner {
  padding-top: 6px;
  height: 100px;
}

.koel-main-header.scrolled .header-inner .middle-part img {
  height: 50px;
}

.koel-main-header svg {
  width: 24px;
  height: 24px;
}

.main-mobile-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0;
}

.main-mobile-header .logo {
  width: 75px;
}

.main-mobile-header svg {
  height: 24px;
  width: 24px;
}

.menu-full {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-full.koel-menu-full-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-full .logo {
  width: 75px;
}

.menu-full svg {
  width: 24px;
  height: 24px;
}

footer.main-footer .newsletter-container {
  height: 100%;
}

footer.main-footer .newsletter-container .form-container {
  position: relative;
}

footer.main-footer .newsletter-container .form-container input {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}

footer.main-footer .newsletter-container .form-container button {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 3;
}

footer.main-footer .newsletter-container .form-container button svg {
  width: 20px;
  height: 20px;
}

.social-icon-container {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.social-icon-container img {
  height: 16px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.koel-custom-accordion .accordion-item {
  border-radius: 0;
  border: none;
  margin: 12px 0;
  border-radius: 0px;
}

.koel-custom-accordion .accordion-item h2 {
  border-radius: 0px;
}

.koel-custom-accordion .accordion-item h2 button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 0px !important;
  outline: none;
  border: 1px solid #000;
}

.koel-custom-accordion .accordion-item h2 button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.koel-custom-accordion .accordion-item h2 button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.koel-custom-accordion .accordion-item h2 button.collapsed {
  border-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.koel-home-section-1 .container .row .left-part .issue img {
  height: 200px;
  width: auto;
}

.koel-home-section-1 .container .row .left-part .library div {
  width: 100%;
  height: 100%;
}

.koel-home-section-1 .container .row .left-part .library div h3 {
  font-family: "JosefinSans";
  font-weight: 600;
  letter-spacing: 3px;
}

.koel-home-section-1 .container .row .left-part .library div img {
  height: 32px;
}

.koel-home-section-1 .container .row .left-part .library div p {
  font-family: "BuiltTitling";
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-1 .container .row .right-part {
    margin-top: 24px;
  }
}

.koel-home-section-1 .container .row .right-part .carousel {
  height: 100%;
}

.koel-home-section-1 .container .row .right-part .carousel .carousel-inner {
  height: 100%;
}

.koel-home-section-1 .container .row .right-part .carousel .carousel-inner .carousel-item {
  height: 100%;
}

.koel-home-section-1 .container .row .right-part .carousel .carousel-inner .carousel-item .category {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.koel-home-section-1 .container .row .right-part .carousel .carousel-inner .carousel-item .title {
  font-family: "JosefinSans";
  font-weight: 600;
}

.koel-home-section-1 .container .row .right-part .carousel .carousel-inner .carousel-item .description {
  font-family: "JosefinSans";
  color: #cccccc;
  font-size: 14px;
}

.koel-home-section-2 {
  position: relative;
}

.koel-home-section-2 .absolute-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 5;
  z-index: 1;
}

@media only screen and (min-width: 1700px) {
  .koel-home-section-2 .absolute-background {
    aspect-ratio: unset;
    height: 450px;
  }
}

.koel-home-section-2 .container {
  z-index: 2;
  position: relative;
}

.koel-home-section-2 .container .top-part .single-item {
  text-decoration: none;
}

.koel-home-section-2 .container .top-part .single-item .image {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  background-size: cover;
  background-position: center center;
}

.koel-home-section-2 .container .top-part .single-item .title {
  font-family: "JosefinSans";
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.koel-home-section-2 .container .top-part .single-item .subtitle {
  font-family: "JosefinSans";
  font-weight: 600;
  color: darkgray;
  font-size: 12px;
  text-decoration: none !important;
}

.koel-home-section-2 .container .bottom-part .left-part {
  position: relative;
  gap: 16px;
}

.koel-home-section-2 .container .bottom-part .left-part h5 {
  font-family: "BuiltTitling";
  font-weight: 24px;
  letter-spacing: 2px;
}

.koel-home-section-2 .container .bottom-part .left-part p {
  max-width: 250px;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-2 .container .bottom-part .left-part p {
    max-width: 80%;
  }
}

.koel-home-section-2 .container .bottom-part .middle-part a {
  font-family: "JosefinSans";
  font-weight: 600;
}

.koel-home-section-2 .container .bottom-part .right-part h5 {
  font-family: "BuiltTitling";
  font-weight: 24px;
  letter-spacing: 2px;
}

.koel-home-section-3 .container .row .left-side div {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-3 .container .row .right-side {
    margin-top: 24px;
  }
}

.koel-home-section-3 .container .row .right-side .top-part {
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-3 .container .row .right-side .top-part {
    width: 100%;
    aspect-ratio: 19 / 9;
  }
}

.koel-home-section-3 .container .row .right-side .bottom-part {
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-3 .container .row .right-side .bottom-part {
    width: 100%;
    aspect-ratio: 19 / 9;
  }
}

.koel-home-section-4 .container > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-4 .container > div {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-home-section-4 .container > div .left-side {
  aspect-ratio: 16 / 9;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-4 .container > div .left-side {
    aspect-ratio: 4 / 3;
  }
}

.koel-home-section-4 .container > div .left-side p {
  font-family: JosefinSans;
  font-weight: 600;
}

.koel-home-section-4 .container > div .left-side .carousel {
  height: 60%;
  width: auto;
  aspect-ratio: 1/1;
  position: relative;
}

.koel-home-section-4 .container > div .left-side .carousel .carousel-inner {
  height: 100%;
  width: 100%;
}

.koel-home-section-4 .container > div .left-side .carousel .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.koel-home-section-4 .container > div .right-side {
  aspect-ratio: 16/9 h5;
  aspect-ratio-font-family: JosefinSans;
  aspect-ratio-font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-4 .container > div .right-side {
    aspect-ratio: 4 / 3;
  }
}

.koel-home-section-4 .container > div .right-side .carousel {
  height: 75%;
  aspect-ratio: 16 / 9;
  position: relative;
}

.koel-home-section-4 .container > div .right-side .carousel .carousel-inner {
  height: 100%;
  width: 100%;
}

.koel-home-section-4 .container > div .right-side .carousel .carousel-inner p {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
}

@media only screen and (max-width: 768px) {
  .koel-home-section-4 .container > div .right-side .carousel .carousel-inner p {
    font-size: 12px;
  }
}

.koel-home-section-4 .container > div .right-side .carousel .carousel-inner h6 {
  font-family: "JosefinSans";
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */