// Load Fonts
@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "BuiltTitling";
  src: url("../fonts/built\ titling\ rg.ttf");
}

@import "./pages/0-1.scss";
@import "./pages/1-1.scss";
@import "./pages/1-2.scss";
@import "./pages/1-3.scss";
@import "./pages/2-1.scss";
@import "./pages/2-2.scss";
@import "./pages/3-1.scss";
@import "./pages/3-2.scss";
@import "./pages/4-0.scss";
@import "./pages/5.scss";

// Typography
.font-nunito {
  font-family: "NunitoSans";
}

.font-josefin {
  font-family: "JosefinSans";
}

.font-built {
  font-family: "BuiltTitling";
  letter-spacing: 3px;
}

.koel-menu-text {
  font-family: "JosefinSans";
  font-weight: 600;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #000000;
  }
}

.koel-custom-blockquote {
  border: 2px solid darkgray;
  border-left: 4px solid #000;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;

  span {
    position: absolute;
    bottom: 8px;
    right: 24px;
    font-size: 32px;
    color: darkgray;
  }
}

// Colours
.koel-text-light {
  color: #f8f4f1;
}

.koel-bg-light {
  background-color: #f8f4f1;
}

.koel-text-light-brown {
  color: #efeae6;
}

.koel-bg-light-brown {
  background-color: #efeae6;
}

.koel-text-brown {
  color: #c5b5a5;
}

.koel-bg-brown {
  background-color: #c5b5a5;
}

.koel-text-gray {
  color: #ebebeb;
}

.koel-bg-gray {
  background-color: #ebebeb;
}

.koel-text-dark-gray {
  color: #b3c8cd;
}

.koel-bg-dark-gray {
  background-color: #b3c8cd;
}

.koel-custom-carousel-indicator {
  button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 100%;
    border: none !important;
  }
}

// Layouting Component
// Header
.whitespace {
  height: 130px;
  display: block;

  @media only screen and (max-width: 768px) {
    height: 60px;
  }
}

.koel-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
  background-color: #fff;

  .header-inner {
    padding-top: 12px;
    transition: 0.2s ease-in-out;
    height: 125px;
    @media only screen and (max-width: 768px) {
      height: 400px;
    }

    .left-part {
    }

    .middle-part {
      img {
        height: 75px;
        width: auto;
        transition: 0.2s ease-in-out;

        @media only screen and (max-width: 768px) {
          height: 200px;
        }
      }
    }

    .right-part {
      @media only screen and (max-width: 768px) {
        margin-top: 24px;
      }

      .row {
        height: 100%;
        .top-part {
          height: 50%;
        }

        .bottom-part {
          height: 50%;
        }
      }
    }
  }

  &.scrolled {
    .header-inner {
      padding-top: 6px;
      height: 100px;

      .middle-part {
        img {
          height: 50px;
        }
      }
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.main-mobile-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0;
  .logo {
    width: 75px;
  }
  svg {
    height: 24px;
    width: 24px;
  }
}

.menu-full {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transform: translateX(-100vw);
  transition: 0.2s;

  &.koel-menu-full-active {
    transform: translateX(0);
  }

  .logo {
    width: 75px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

// Footer
footer.main-footer {
  .newsletter-container {
    height: 100%;

    .form-container {
      position: relative;

      input {
        font-family: "Times New Roman", Times, serif;
        width: 100%;
        border: none;
        border-bottom: 2px solid black;
      }

      button {
        background: none;
        border: none;
        position: absolute;
        top: 0;
        right: 4px;
        z-index: 3;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

// Social Icon Container
.social-icon-container {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  img {
    height: 16px;
    filter: brightness(0) invert(1);
  }
}

// Koel Custom Accordion
.koel-custom-accordion {
  .accordion-item {
    border-radius: 0;
    border: none;
    margin: 12px 0;
    border-radius: 0px;

    h2 {
      border-radius: 0px;
      button {
        background-color: #ffffff;
        color: #000000;
        border-radius: 0px !important;
        outline: none;
        border: 1px solid #000;

        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &.collapsed {
          border-color: rgba(0, 0, 0, 0.5);
          opacity: 0.5;
        }
      }
    }
  }
}

// Homepage
.koel-home-section-1 {
  .container {
    .row {
      .left-part {
        .issue {
          img {
            height: 200px;
            width: auto;
          }
        }

        .library {
          div {
            width: 100%;
            height: 100%;
            h3 {
              font-family: "JosefinSans";
              font-weight: 600;
              letter-spacing: 3px;
            }

            img {
              height: 32px;
            }

            p {
              font-family: "BuiltTitling";
              text-transform: uppercase;
              font-size: 20px;
              letter-spacing: 1px;
            }
          }
        }
      }

      .right-part {
        @media only screen and (max-width: 768px) {
          margin-top: 24px;
        }

        .carousel {
          height: 100%;
          .carousel-inner {
            height: 100%;
            .carousel-item {
              height: 100%;
              .category {
                font-family: "Times New Roman", Times, serif;
                font-size: 12px;
              }

              .title {
                font-family: "JosefinSans";
                font-weight: 600;
              }

              .description {
                font-family: "JosefinSans";
                color: #cccccc;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.koel-home-section-2 {
  position: relative;

  .absolute-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 5;
    z-index: 1;

    @media only screen and (min-width: 1700px) {
      aspect-ratio: unset;
      height: 450px;
    }
  }

  .container {
    z-index: 2;
    position: relative;

    .top-part {
      .single-item {
        text-decoration: none;
        .image {
          width: 100%;
          height: auto;
          aspect-ratio: 3 / 4;
          background-size: cover;
          background-position: center center;
        }

        .title {
          font-family: "JosefinSans";
          font-weight: 600;
          font-size: 14px;
          color: #000000;
        }

        .subtitle {
          font-family: "JosefinSans";
          font-weight: 600;
          color: darkgray;
          font-size: 12px;
          text-decoration: none !important ;
        }
      }
    }

    .bottom-part {
      .left-part {
        position: relative;
        gap: 16px;

        h5 {
          font-family: "BuiltTitling";
          font-weight: 24px;
          letter-spacing: 2px;
        }

        p {
          max-width: 250px;
          font-family: "Times New Roman", Times, serif;

          @media only screen and (max-width: 768px) {
            max-width: 80%;
          }
        }
      }

      .middle-part {
        a {
          font-family: "JosefinSans";
          font-weight: 600;
        }
      }

      .right-part {
        h5 {
          font-family: "BuiltTitling";
          font-weight: 24px;
          letter-spacing: 2px;
        }
      }
    }
  }
}

.koel-home-section-3 {
  .container {
    .row {
      .left-side {
        div {
          width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          background-size: cover;
          background-position: center center;
        }
      }

      .right-side {
        @media only screen and (max-width: 768px) {
          margin-top: 24px;
        }

        .top-part {
          background-size: cover;
          background-position: center center;

          @media only screen and (max-width: 768px) {
            width: 100%;
            aspect-ratio: 19 / 9;
          }
        }

        .bottom-part {
          background-size: cover;
          background-position: center center;

          @media only screen and (max-width: 768px) {
            width: 100%;
            aspect-ratio: 19 / 9;
          }
        }
      }
    }
  }
}

.koel-home-section-4 {
  .container > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .left-side {
      aspect-ratio: 16 / 9;
      position: relative;

      @media only screen and (max-width: 768px) {
        aspect-ratio: 4 / 3;
      }

      p {
        font-family: JosefinSans;
        font-weight: 600;
      }

      .carousel {
        height: 60%;
        width: auto;
        aspect-ratio: 1/1;
        position: relative;

        .carousel-inner {
          height: 100%;
          width: 100%;

          .carousel-item {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
          }
        }
      }
    }

    .right-side {
      aspect-ratio: 16 / 9 h5 {
        font-family: JosefinSans;
        font-weight: 600;
      }

      @media only screen and (max-width: 768px) {
        aspect-ratio: 4 / 3;
      }

      .carousel {
        height: 75%;
        aspect-ratio: 16 / 9;
        position: relative;

        .carousel-inner {
          height: 100%;
          width: 100%;

          p {
            font-family: "Times New Roman", Times, serif;
            color: darkgray;

            @media only screen and (max-width: 768px) {
              font-size: 12px;
            }
          }

          h6 {
            font-family: "JosefinSans";
            font-weight: 600;
          }
        }
      }
    }
  }
}
