.page-0-1-section-1 {
  position: relative;
}

.page-0-1-section-1 .absolute-image {
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 33%;
  height: auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media only screen and (max-width: 768px) {
  .page-0-1-section-1 .absolute-image {
    left: 12.5%;
    width: 75%;
  }
}
/*# sourceMappingURL=0-1.css.map */