.page-0-1-section-1 {
  position: relative;

  .absolute-image {
    position: absolute;
    bottom: 0;
    left: 33%;
    width: 33%;
    height: auto;
    transform: translateY(50%);

    @media only screen and (max-width: 768px) {
      left: 12.5%;
      width: 75%;
    }
  }
}
