.koel-page-1-1-section-1 {
  .title {
    font-family: "BuiltTitling";
    font-weight: bold;
    letter-spacing: 3px;
  }

  .grid-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .left-part {
      grid-column: span 1 / span 1;
      height: 100%;

      .inner-container {
        height: 100%;
      }
    }

    .right-part {
      grid-column: span 3 / span 3;

      @media only screen and (max-width: 768px) {
        grid-column: span 1 / span 1;
      }

      .inner-container {
        aspect-ratio: 16 / 9;

        @media only screen and (max-width: 768px) {
          aspect-ratio: auto;
        }

        .row {
          height: 100%;

          .first-text {
            height: 100%;

            p {
              text-align: left;
              letter-spacing: 2px;
              font-size: 22px;
              font-family: "BuiltTitling";
            }
          }

          .second-text {
            p {
              font-family: "JosefinSans";
              text-align: left;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.koel-page-1-1-section-2 {
  .section-title {
    font-family: "JosefinSans";
    font-weight: 600;
  }

  .section-subtitle {
    font-family: "Times New Roman", Times, serif;
    color: darkgray;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
      width: 100%;
      .image {
        width: 100%;
        aspect-ratio: 3/4;
      }
      .title {
        display: block;
        font-family: "JosefinSans";
        font-weight: 600;
        color: #000000;
        text-decoration: none !important;
      }
      .subtitle {
        font-family: "Times New Roman", Times, serif;
        color: darkgray;
        font-size: 12px;
        text-decoration: none !important;
      }
    }
  }
}

.koel-page-1-1-section-3 {
  .item-container {
    width: 300px;
    aspect-ratio: 1/1;

    h2 {
      text-decoration: none !important;
    }
  }
}
