.koel-page-1-1-section-1 .title {
  font-family: "BuiltTitling";
  font-weight: bold;
  letter-spacing: 3px;
}

.koel-page-1-1-section-1 .grid-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-1 .grid-part {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-1-1-section-1 .grid-part .left-part {
  grid-column: span 1 / span 1;
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .left-part .inner-container {
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .right-part {
  grid-column: span 3 / span 3;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-1 .grid-part .right-part {
    grid-column: span 1 / span 1;
  }
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container {
  aspect-ratio: 16 / 9;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-1 .grid-part .right-part .inner-container {
    aspect-ratio: auto;
  }
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row {
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row .first-text {
  height: 100%;
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row .first-text p {
  text-align: left;
  letter-spacing: 2px;
  font-size: 22px;
  font-family: "BuiltTitling";
}

.koel-page-1-1-section-1 .grid-part .right-part .inner-container .row .second-text p {
  font-family: "JosefinSans";
  text-align: left;
  font-weight: 600;
}

.koel-page-1-1-section-2 .section-title {
  font-family: "JosefinSans";
  font-weight: 600;
}

.koel-page-1-1-section-2 .section-subtitle {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
}

.koel-page-1-1-section-2 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-1-section-2 .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.koel-page-1-1-section-2 .grid-container .grid-item {
  width: 100%;
}

.koel-page-1-1-section-2 .grid-container .grid-item .image {
  width: 100%;
  aspect-ratio: 3/4;
}

.koel-page-1-1-section-2 .grid-container .grid-item .title {
  display: block;
  font-family: "JosefinSans";
  font-weight: 600;
  color: #000000;
  text-decoration: none !important;
}

.koel-page-1-1-section-2 .grid-container .grid-item .subtitle {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  font-size: 12px;
  text-decoration: none !important;
}

.koel-page-1-1-section-3 .item-container {
  width: 300px;
  aspect-ratio: 1/1;
}

.koel-page-1-1-section-3 .item-container h2 {
  text-decoration: none !important;
}
/*# sourceMappingURL=1-1.css.map */