.koel-page-1-2-section-1 {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
      position: relative;

      .image {
        width: 100%;
        aspect-ratio: 3/4;
      }

      .cta {
        color: darkgray;
        a {
          color: darkgray;
          text-decoration: none;
        }
      }
    }
  }
}
