.koel-page-1-2-section-1 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-2-section-1 .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-1-2-section-1 .grid-container .grid-item {
  position: relative;
}

.koel-page-1-2-section-1 .grid-container .grid-item .image {
  width: 100%;
  aspect-ratio: 3/4;
}

.koel-page-1-2-section-1 .grid-container .grid-item .cta {
  color: darkgray;
}

.koel-page-1-2-section-1 .grid-container .grid-item .cta a {
  color: darkgray;
  text-decoration: none;
}
/*# sourceMappingURL=1-2.css.map */