.koel-page-1-3-section-1 .preview-image-item-container img {
  width: 100px;
  height: auto;
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.koel-page-1-3-section-1 .tab-container .nav-link {
  font-family: "JosefinSans";
  font-weight: 600;
  padding: 8px 16px;
  color: darkgray;
  border-radius: 0;
}

.koel-page-1-3-section-1 .tab-container .nav-link.active {
  background-color: #000;
  color: #fff;
}

.koel-page-1-3-section-1 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-1-3-section-1 .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.koel-page-1-3-section-1 .grid-container .grid-item {
  position: relative;
}

.koel-page-1-3-section-1 .grid-container .grid-item img {
  aspect-ratio: 3/4;
}
/*# sourceMappingURL=1-3.css.map */