.koel-page-1-3-section-1 {
  .preview-image-item-container {
    img {
      width: 100px;
      height: auto;
      cursor: pointer;
      align-self: flex-start;
    }
  }

  .tab-container {
    .nav-link {
      font-family: "JosefinSans";
      font-weight: 600;
      padding: 8px 16px;
      color: darkgray;
      border-radius: 0;

      &.active {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
      position: relative;

      img {
        aspect-ratio: 3/4;
      }
    }
  }
}
