.koel-page-2-1-section-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-2-1-section-1 .left-part {
  aspect-ratio: 3/4;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 .left-part {
    aspect-ratio: 1/1;
  }
}

.koel-page-2-1-section-1 .right-part {
  min-height: 100%;
  grid-column: span 3 / span 3;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 .right-part {
    min-height: unset;
    grid-column: span 1 / span 1;
  }
}

.koel-page-2-1-section-1 .right-part .row {
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-1 .right-part .row {
    height: auto;
  }
}

.koel-page-2-1-section-1 .right-part .row a {
  letter-spacing: 3px;
  font-size: 28px;
}

.koel-page-2-1-section-2 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 24px;
      grid-template-areas: "first-item first-item second-item second-item" "first-item first-item third-item third-item" "fourth-item fifth-item sixth-item sixth-item" "fourth-item fifth-item sixth-item sixth-item";
}

@media only screen and (max-width: 768px) {
  .koel-page-2-1-section-2 .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "first-item first-item" "first-item first-item" "second-item second-item" "third-item third-item" "fourth-item fifth-item" "fourth-item fifth-item" "sixth-item sixth-item" "sixth-item sixth-item";
  }
}

.koel-page-2-1-section-2 .item {
  background-size: cover;
  background-position: center center;
  position: relative;
}

.koel-page-2-1-section-2 .item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.koel-page-2-1-section-2 .item.first-item {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: first-item;
  aspect-ratio: 1 / 1;
}

.koel-page-2-1-section-2 .item.second-item {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: second-item;
}

.koel-page-2-1-section-2 .item.third-item {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: third-item;
}

.koel-page-2-1-section-2 .item.fourth-item {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: fourth-item;
}

.koel-page-2-1-section-2 .item.fifth-item {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: fifth-item;
}

.koel-page-2-1-section-2 .item.sixth-item {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: sixth-item;
  aspect-ratio: 1 / 1;
}

.koel-page-2-1-section-3 .single-item {
  width: 300px;
  aspect-ratio: 1/1;
}
/*# sourceMappingURL=2-1.css.map */