.koel-page-2-1-section-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .left-part {
    aspect-ratio: 3/4;

    @media only screen and (max-width: 768px) {
      aspect-ratio: 1/1;
    }
  }

  .right-part {
    min-height: 100%;
    grid-column: span 3 / span 3;

    @media only screen and (max-width: 768px) {
      min-height: unset;
      grid-column: span 1 / span 1;
    }

    .row {
      height: 100%;

      @media only screen and (max-width: 768px) {
        height: auto;
      }

      a {
        letter-spacing: 3px;
        font-size: 28px;
      }
    }
  }
}

.koel-page-2-1-section-2 {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;
    grid-template-areas:
      "first-item first-item second-item second-item"
      "first-item first-item third-item third-item"
      "fourth-item fifth-item sixth-item sixth-item"
      "fourth-item fifth-item sixth-item sixth-item";

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
      grid-template-areas:
        "first-item first-item"
        "first-item first-item"
        "second-item second-item"
        "third-item third-item"
        "fourth-item fifth-item"
        "fourth-item fifth-item"
        "sixth-item sixth-item"
        "sixth-item sixth-item";
    }
  }

  .item {
    background-size: cover;
    background-position: center center;
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &.first-item {
      grid-area: first-item;
      aspect-ratio: 1 / 1;
    }

    &.second-item {
      grid-area: second-item;
    }

    &.third-item {
      grid-area: third-item;
    }

    &.fourth-item {
      grid-area: fourth-item;
    }

    &.fifth-item {
      grid-area: fifth-item;
    }

    &.sixth-item {
      grid-area: sixth-item;
      aspect-ratio: 1 / 1;
    }
  }
}

.koel-page-2-1-section-3 {
  .single-item {
    width: 300px;
    aspect-ratio: 1/1;
  }
}
