.koel-page-2-2-section-1 .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media only screen and (max-width: 768px) {
  .koel-page-2-2-section-1 .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.koel-page-2-2-section-1 .grid-container .grid-item {
  position: relative;
}

.koel-page-2-2-section-1 .grid-container .grid-item .sale-tag {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 16px;
  right: 16px;
  background-color: darkgray;
}
/*# sourceMappingURL=2-2.css.map */