.koel-page-2-2-section-1 {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .grid-item {
      position: relative;

      .sale-tag {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 16px;
        right: 16px;
        background-color: darkgray;
      }
    }
  }
}
