.koel-page-3-1-section-1 {
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
}

.koel-page-3-1-section-1 .item {
  -ms-grid-row-span: 2;
      grid-row-end: span 2;
}

.koel-page-3-1-section-1 .item .photothumb {
  width: 100%;
}

.koel-page-3-1-section-1 .item .desc {
  padding: 10px 10px 5px 10px;
}

.koel-page-3-1-section-1 .item .desc p {
  margin-bottom: 10px;
}

.koel-page-3-1-section-1 .item .desc .category {
  font-size: 12px;
}

.koel-page-3-1-section-1 .item .desc .meta {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  font-size: 12px;
}

.koel-page-3-1-section-1 .item .desc .content {
  color: darkgray;
  font-size: 12px;
}

.koel-page-3-1-section-1 .item .desc .cta {
  font-size: 12px;
}

.koel-page-3-1-section-4 .vertical-text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: right;
}

.koel-page-3-1-section-4 .absolute-label {
  position: absolute;
  top: 0;
  background-color: rgba(179, 200, 205, 0.5);
}

.koel-page-3-1-section-4 .absolute-label.left {
  right: 36px;
}

.koel-page-3-1-section-4 .absolute-label.right {
  left: 36px;
}
/*# sourceMappingURL=3-1.css.map */