.koel-page-3-1-section-1 {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;

  .item {
    grid-row-end: span 2;

    .photothumb {
      width: 100%;
    }

    .desc {
      padding: 10px 10px 5px 10px;

      p {
        margin-bottom: 10px;
      }

      .category {
        font-size: 12px;
      }

      .meta {
        font-family: "Times New Roman", Times, serif;
        color: darkgray;
        font-size: 12px;
      }

      .content {
        color: darkgray;
        font-size: 12px;
      }

      .cta {
        font-size: 12px;
      }
    }
  }
}

.koel-page-3-1-section-4 {
  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
  }

  .absolute-label {
    position: absolute;
    top: 0;
    background-color: rgba(179, 200, 205, 0.5);

    &.left {
      right: 36px;
    }

    &.right {
      left: 36px;
    }
  }
}
