.page-4-0-section-1 {
  p {
    margin-bottom: 10px;
  }

  .category {
    font-size: 12px;
  }

  .meta {
    font-family: "Times New Roman", Times, serif;
    color: darkgray;
    font-size: 12px;
  }

  .content {
    color: darkgray;
    font-size: 12px;
  }

  .cta {
    font-size: 12px;
  }
}
