.page-4-0-section-1 p {
  margin-bottom: 10px;
}

.page-4-0-section-1 .category {
  font-size: 12px;
}

.page-4-0-section-1 .meta {
  font-family: "Times New Roman", Times, serif;
  color: darkgray;
  font-size: 12px;
}

.page-4-0-section-1 .content {
  color: darkgray;
  font-size: 12px;
}

.page-4-0-section-1 .cta {
  font-size: 12px;
}
/*# sourceMappingURL=4-0.css.map */