.generic-content {
  position: relative;

  h4 {
    font-family: "JosefinSans";
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  a {
    font-weight: bolder;
    color: darkgray;
    text-decoration: none;
    margin-bottom: 0.75rem;
    font-family: "JosefinSans";
    display: block;
  }

  h5 {
    margin-bottom: 0.75rem;
    font-family: "JosefinSans";
    font-weight: bold;
    font-size: 14px;

    a {
      font-weight: bold;
      color: darkgray;
      text-decoration: underline;
      display: inline;
    }
  }

  p {
    margin-bottom: 0.75rem;
    font-family: "JosefinSans";
    font-size: 14px;
    color: darkgray;
    font-weight: bold;

    a {
      font-weight: bold;
      color: darkgray;
      text-decoration: underline;
      display: inline;
    }
  }

  blockquote {
    border: 2px solid darkgray;
    border-left: 4px solid #000;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    position: relative;
    display: block;
    padding: 3rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.75rem;

    &::after {
      position: absolute;
      bottom: 8px;
      right: 24px;
      font-size: 32px;
      color: darkgray;
      content: '"';
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
